body {
    background-color: pink;
  }
img {
    max-width: 100%; 
    width: 80%; 
    height: auto; 
  }
main {
    width: 80%; 
    margin: 0 auto;
  }
h1 {
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 60px; 
    text-align: center; 
    font-style: italic;
}