body {
    background-color: pink;
  }
  .photo-container {
    display: flex; 
}
.container {
    max-width: 100%; 
    width: 80%; 
    height: auto; 
    text-align: center
}
img {
    max-width: 100%; 
    width: 80%; 
    height: auto;
}
.photo-container img {
    height: auto; 
    margin-right: 10px;
    max-width: 100%; 
    width: 80%; 
    text-align: center
} 
main {
    width: 80%; 
    margin: 0 auto;
  }
h1 {
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 80px; 
    text-align: center; 
    font-style: italic;
}
p:first-of-type {
    font-family: 'Dancing Script';
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    font-style: italic;
}
p {
    font-family: 'Josefin Sans';
    font-size: 28px;
    text-align: center;
}
h2, h3 {
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 50px; 
    text-align: center; 
    font-style: bold;
}
h4 {
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 32px; 
    text-align: center; 
    font-style: italic;
}
