body {
    background-color: pink;
  }
  img {
    max-width: 100%; 
    width: 80%; 
    height: auto; 
  }
  main {
    width: 80%; 
    margin: 0 auto;
  }
  .carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carousel-inner img {
    width: 100%; 
    height: auto; 
  }
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }