body {
    font-family: Arial, sans-serif;
    font-size: 14px; 
    background-color: pink;
  }
.container {
    width: 90%; 
    margin: 0 auto; 
  } 
  @media (min-width: 768px) and (max-width: 1200px) {
    .sidebar {
      display: none;
    }
  }
img {
  width: 80%
}